#carousel.carousel.slide.hidden-md-down
    .carousel-inner(role='listbox')
        .carousel-item.active
            img.d-block.img-fluid.mx-auto(src='/img/supply.jpg')
        .carousel-item
            img.d-block.img-fluid.mx-auto(src='/img/exploit.jpg')
        .carousel-item
            img.d-block.img-fluid.mx-auto(src='/img/shop.jpg')
    a.carousel-control-prev(href='#carousel', role='button', data-slide='prev')
        span.carousel-control-prev-icon
    a.carousel-control-next(href='#carousel', role='button', data-slide='next')
        span.carousel-control-next-icon
