footer.footer-container
    .logo
        img(src='img/footer-logo.png')
    .main-footer
        .contact-container
            div
                a(href='https://www.google.com/maps/place/150+Dubois+St,+Santa+Cruz,+CA+95060/') 150 Dubois St, Santa Cruz, CA 95003
            div
                a(href='tel:1-831-425-1314') (831) 425-1314
            div
                a(href='mailto:info@revelrysupply.com') info@revelrysupply.com
        .social-container
            a(href='facebook.com')
                img(src='/img/facebook.svg')
            a(href='instagram.com')
                img(src='/img/instagram.svg')
        .links-container
            a(href='/') Home
            a(href='/shop') Shop
            a(href='/exploits') Exploits
            a(href='/about') About
            a(href='/locations') Locations
    .page-bottom
        p © 2017 REVELRY SUPPLY CO.
        p
            a(href='/legal') TERMS AND CONDITIONS
