footer.footer-container
    .logo
        img(src='img/footer-logo.png')
    .main-footer
        .contact-container
            div
              a(href='https://www.google.com/maps/place/150+Dubois+St,+Santa+Cruz,+CA+95060/') 150 Dubois St, Santa Cruz, CA 95003
            div
              a(href='tel:1-831-425-1314') (831) 425-1314
            div
                a(href='mailto:info@revelrysupply.com') info@revelrysupply.com
        .social-container
            a.fa.fa-facebook.fa-4x(href='facebook.com')
            a.fa.fa-instagram.fa-4x(href='instagram.com')
        .links-container
            a(href='/') Home
            a(href='/shop') Shop
            a(href='/exploits') Exploits
            a(href='/about') About
            a(href='/locations') Locations
