.gallery
    .panels
        .panel.panel1
            p Weiner
            p Supply
            p
                a(href='/supply') Go
        .panel.panel2
            p Doodle
            p Exploits
            p
                a(href='/exploits') Go
        .panel.panel3
            p Awesome
            p Store
            p
                a(href='/shop') Go
