.gallery
    .panels
        .panel.panel1
            p
            p Supply
            p
                a(href='/supply') Go
        .panel.panel2
            p
            p Store
            p
                a(href='/shop') Go
        .panel.panel3
            p
            p Exploits
            p
                a(href='/exploits') Go
