nav
    h1.name
      a(href='/') AWESOME SAUCE
    button.toggleNav &#9776;
    ul.main-nav
        li
          a(href='/') Home
        li
            a(href='/store') Store
        li
            a(href='/about') About
        li
            a(href='/locations') Locations
        li
            a(href='/exploits') Exploits
