nav.nav-container
    .main-nav
        h1.logo
            a(href='/') Revelry.
        h1.nav-toggle &#9776;
    .nav-list(style='display: none;')
        a(href='/') Home
        a(href='/shop') Shop
        a(href='/exploits') Exploits
        a(href='/supply') Supply
        a(href='/locations') Locations
        if cart
          a(href='/cart', data-cart=cart) Cart
        else

          a(href='/cart') Cart
          
        if !currentUser
            a(href='/login') Login
        else

            a(href='/profile') Profile
            a(href='/logout') Logout
