nav.nav-container
    .main-nav
        h1.logo
            a(href='/') Revelry.
        h1.nav-toggle &#9776;
    .nav-list(style='display: none;')
        a(href='/') Home
        a(href='/shop') Shop
        a(href='/exploits') Exploits
        a(href='/locations') Locations
        a(href='/cart') Cart
        a(href='/login') Login
