.nav-container
    .logo
        a(href='/')
            img(src='/img/header-logo.png')
            | Revelry
    span.menu-toggle-button &#9776;
    .nav-list
        a(href='/') Home
        a(href='/shop') Shop
        a(href='/exploits') Exploits
        a(href='/locations') Locations
        a(href='/cart') Cart
