extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/supply.css')

block content
    .supply-product-header
        h1= product.name
    .supply-product-container
        .img-wrapper
        p= product.details[0]
        h1= product.title
        .fabric-img-wrapper
            div
                img(src='/img/fabric.jpeg')
        p= product.details[1]

block scripts
    script(src='/js/supply.js')
