extends layout

block content
    h1 OUR MISSION
    p On or off the clock, time is yours. You work hard, and to keep the balance you play hard as well. Whatever you do, you do it well. Revelry was started to create the premium accessories that pair with your dynamic lifestyle. We are here to improve both work and play. No judgement, just good times.
    h1 OUR SUPPLY
    p This collection was inspired by a desire to create products that seamlessly transition through every part of your day. We have incorporated traditional shapes and focused on the details to create products that are both beautiful and discrete. Our focus is on quality materials and construction that will last. Our classic aesthetic, paired with our attention to the details, makes a line perfect for any adventure you embark on.
