extends layout

block content
    mixin cartItem(item)
        li.cartItem(id=item.name, data-color=item.color)
            h1= item.name.toUpperCase() + ' - ' + item.color.toUpperCase()
            button#removeButton &nbsp;X&nbsp;
    ul#cart
        each item in cart
            +cartItem(item)

block scripts
    script(src='/js/cart.js')
