extends layout

block content
    include partials/carousel
    .row.mt-3
        .col-md-4
            img.rounded.mx-auto.d-block.img-fluid(src='/img/continental.jpg')
        .col-md-4
            img.rounded.mx-auto.d-block.img-fluid(src='/img/confidant.jpg')
        .col-md-4
            img.rounded.mx-auto.d-block.img-fluid(src='/img/accomplice.jpg')
    .row.my-3
        img.mx-auto.d-block(src='img/footer-logo.png')
    .row.text-center
        .col-md-4
            p 150 Dubois St
                br
                | Santa Cruz, CA
                br
                | 95003
            p (831) 425-1314
            p info@revelrysupply.com
        .col-md-4
            i.fa.fa-facebook.fa-2x
            i.fa.fa-instagram.fa-2x
        .col-md-4
            a.nav-link.active.py-0(href='/') Home
            a.nav-link.py-0(href='/') Shop
            a.nav-link.py-0(href='/') Exploits
            a.nav-link.py-0(href='/') About
            a.nav-link.py-0(href='/') Locations
