extends layout

block content
    include partials/carousel
    .row.mt-3
        .col-md-4
            img.rounded.mx-auto.d-block.img-fluid(src='/img/continental.jpg')
        .col-md-4
            img.rounded.mx-auto.d-block.img-fluid(src='/img/confidant.jpg')
        .col-md-4
            img.rounded.mx-auto.d-block.img-fluid(src='/img/accomplice.jpg')
