extends layout

block content
    include partials/carousel
    .img-links-container
        a#continental(href='/shop/continental#green')
            p The Continental
        a#confidant(href='/shop/confidant#green')
            p The Confidant
        a#accomplice(href='/shop/accomplice#silver')
            p The Accomplice



block scripts
    script(src='/js/index.js')
