extends layout

block content
    include partials/carousel
    .img-links-container
        a#continental(href='/products/continental')
            p The Continental
        a#confidant(href='/products/confidant')
            p The Confidant
        a#accomplice(href='/products/accomplice')
            p The Accomplice



block scripts
    script(src='/js/index.js')
