doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/style.css')
        block stylesheets

    body
        include partials/navbar
        block content

        block scripts
        script(src='/js/nav.js')
