extends layout

block stylesheets
    link(rel='stylesheet', href='/css/map.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')

block content
    .locations
        .location-list
          include partials/spinner
        #map

block scripts
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(src='/js/map.js')
