extends layout

block stylesheets
    link(rel='stylesheet', href='/css/map.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')

block content
    h1 Locations
    .locations
        ul.location-list
        #map

block scripts
    script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(src='/js/map.js')
