extends layout

block stylesheets
    link(rel='stylesheet', href='/css/product.css')

block content
    h1#productName
    h2#productColor
    hr
    .single-product
        .single-product-image
            img#productImage
        .single-product-text
            p#productTitle
            p#productSubtitle
            p#additional
            #productDetailsList
              ul#listOne
              ul#listTwo
    hr
    .other-colors
    hr
    a(href='/shop') Back To Store
    //p.productData

block scripts
    script(src='/js/product.js')
