extends layout

block stylesheets
    link(rel='stylesheet', href='/css/product.css')

block content
    h1#productName
    h2#productColor
    hr
    .single-product
        .single-product-image
            img#productImage
        .single-product-text
            p#productTitle
            p#productSubtitle
            p#additional
            #productDetailsList
                ul#listOne
                ul#listTwo
            .single-product-details
                span#productPrice
                span#productStock
            form#addToCartForm(method='POST', action='/cart')
                input#addToCartProductInput(type='text', name='productName', style='display: none;')
                input#addToCartColorInput(type='text', name='productColor', style='display: none;')
                .single-product-quantity
                  button#decrementButton(data-value='-1') &nbsp;-&nbsp;
                  input#addToCartQuantityInput(type='text', name='productQuantity', value='1')
                  button#incrementButton(data-value='1') &nbsp;+&nbsp;
                input#addToCartButton(type='submit', value='Add to Cart', style='cursor: pointer;')

    hr
    .other-colors
    hr
    a(href='/shop') Back To Store
    //p.productData

block scripts
    script(src='/js/product.js')
