extends layout

block stylesheets
    link(rel='stylesheet', href='/css/shop.css')

block content
    .product-categories
        .product(data-product='all').active
            img(src='/img/svg/logo.svg')
            p All
        .product(data-product='accomplice')
            img(src='/img/svg/accomplice.svg')
            p Accomplice
        .product(data-product='confidant')
            img(src='/img/svg/confidant.svg')
            p Confidant
        .product(data-product='around-towner')
            img(src='/img/svg/around-towner.svg')
            p Around-Towner
        .product(data-product='escort')
            img(src='/img/svg/escort.svg')
            p Escort
        .product(data-product='continental')
            img(src='/img/svg/continental.svg')
            p Continental
    .product-container

block scripts
    script(src='/js/products.js')
    script(src='/js/shop.js')
