extends layout

block content
    div
        each p in products
            - var name = p.name;
            h1= name
            div(style='display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center;')
                each col in p.colors
                    a(href='api/' + p.tagName, style="margin: 0 50px; text-align: center; text-decoration: none; color: black;")
                        p= col.name
                        img(src='data:image/jpb;base64,' + col.buffer)

    pre= products
block scripts
    script(src='/js/index.js')
