h1, h2 {
    text-align: center;
}

h1#productName {
    font-size: 34px;
}

h2#productColor {
    font-size: 24px;
}

.single-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-product-details {
    display: flex;
    flex-direction: row;
    width: 75%;
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;
    margin-bottom: 8px;
    font-size: 18px;
}

#productStock {
    background-color: #707070;
    border-radius: 5px;
    padding: 5px 24px;
    color: #fff;
    align-self: flex-end;
}

.single-product-text {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.other-colors {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other-colors div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transition: 0.4s;
}
.other-colors div:hover {
  font-weight: bold;
}

@media (min-width: 1025px) {
    h1#productName {
        font-size: 64px;
    }
    .single-product {
        flex-direction: row;
    }
    .single-product-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .single-product-text {
        border: none;
    }
    .single-product-image img {
        height: 300px;
    }
    .other-colors {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

#productDetailsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#productDetailsList ul {
    text-align: center;
    padding: 15px;
    flex: 1 50%;
}

#addToCartButton {
    margin-top: 10px;
    padding: 5px 24px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
}

#addToCartForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-product-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.single-product-quantity button {
    align-self: stretch;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 32px;
}

button#decrementButton {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: 0.4s;
}

button#incrementButton {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 0.4s;
}

button#decrementButton:hover {
    transform: scale(1.05, 1.05);
    background-color: rgba(255, 0, 0, 0.5);
}

button#incrementButton:hover {
    transform: scale(1.05, 1.05);
    background-color: rgba(0, 255, 0, 0.5);
}

input[name='productQuantity'] {
    text-align: center;
    width: 40px;
}
a#backToStoreLink {
  padding: 9px 18px;
  background-color: rgb(221, 220, 204);
  border: none;
  border-radius: 5px;
  color: #454545;
}
