.product-container {
    display: flex;
    flex-direction: column;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.product-color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.product-wrapper h1 {
    text-align: center;
    width: 350px;
}

@media (min-width: 1025px) {
    .product-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product-wrapper:nth-child(2n+0) {
        flex-direction: row-reverse;
    }
}

.product-wrapper.active {
    flex-direction: row;
}

.hidden {
    display: none;
}
