extends ../layout

block stylesheets
    link(rel='stylesheet', href='/css/form.css')

block content
    .form-container
        .form-title
            h1 Signup
        form(method='POST', action='/signup')
            .form-item
                label Name
                input(type='text', id='name', name='name')
            .form-item
                label Username
                input(type='text', id='username', name='username')
            .form-item
                label Password
                input(type='password', id='password', name='password')
            .form-item
                label Confirm Password
                input(type='password', id='confirmPassword', name='confirmPassword')
            .form-item#submitForm
                input(type='submit', value='Submit')

block scripts
    script(src='/js/signup.js')
